name: "Opensource Portal"
author: "Open Source <opensource@nist.gov>"
title: Opensource Portal
description: "National Institute of Standards Opensource Portal"
remote_theme: opensource-theme

url: "https://opensource.nist.gov"
repo_url: "https://github.com/usnistgov/opensource"

# NIST Piwik Analytics https://analytics.nist.gov
# piwik_id: xxx

# Google Analytics ID
# google_analytics:
#  tracking_id: XXXXXXXX

# Twitter username (used by jekyll-seo-tag)
# twitter:
#  username: xxxxx

# GitHub Metadata -- https://github.com/jekyll/github-metadata
repository: usnistgov/opensource
plugins:
  - jekyll-github-metadata
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-remote-theme

kramdown:
  auto_ids: true

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      permalink: "/news/:year/:month/:day/:title/"

permalink: pretty

exclude:
    - CNAME
    - Gemfile
    - Gemfile.lock
    - README.md
    - Makefile
    - build

theme: jekyll-theme-cayman
