<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/opensource/assets/images/favicon.ico">

  <link rel="stylesheet" href="/opensource/css/bootstrap/3.3.5/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="/opensource/css/font-awesome/font-awesome.min.css" media="screen">

  <link rel="stylesheet" href="/opensource/css/onelab/0.1.1/onelab.css" media="screen">
  <link rel="stylesheet" href="/opensource/css/main.css" media="screen">

  {% seo %}
</head>
