<!-- jQuery first, then Bootstrap JS. -->
<script src="https://pages.nist.gov/opensource/js/jquery-2.1.4.min.js"></script>
<script src="https://pages.nist.gov/opensource/js/bootstrap.min.js"></script>

<script src="https://pages.nist.gov/opensource/js/anchor.min.js"></script>
<script>
    anchors.add()
</script>

<script>
    //Contexttual href.
    function cref(location) {
        var paths = window.location.pathname.split("/");
        
        if (paths[1] == "opensource") {
            window.location.href = window.location.origin+"/opensource/"+location;;
        } else{
            window.location.href = window.location.origin+"/"+location;
        }
    }
    
    function cpath(location) {
        var paths = window.location.pathname.split("/");
        
        if (paths[1] == "opensource") {
            return window.location.origin+"/opensource/"+location;
        } else{
            return window.location.origin+"/"+location;
        }
    }
</script> 
